*.o
*.a
configure_aux
cffi-bindings.c
*.swp
.deps
.dirstamp
configure
configure_aux
config.h
config.h.in
config.h.in~
config.log
config.status
Makefile
Makefile.in
aclocal.m4
autom4te.cache
.libs
stamp-h1
INSTALL
configure
configure_aux
dirstamp
*.tar.gz
__pycache__
cbtest
